<nav id="sidebar-icon-links">
  {% if site.github.repo %}
  <a id="github-link"
     class="icon" title="GitHub" aria-label="GitHub"
     href="{{ site.github.repo }}">
    {% include svg/github.svg %}
  </a>
  {% endif %}
  {% if site.twitter %}
  <a id="twitter-link"
     class="icon" title="Twitter" aria-label="Twitter"
     href="{{ site.twitter }}">
    {% include svg/twitter.svg %}
  </a>
  {% endif %}
  {% if site.linkedin %}
  <a id="linkedin-link"
     class="icon" title="LinkedIn" aria-label="LinkedIn"
     href="{{ site.linkedin }}">
    {% include svg/linkedin.svg %}
  </a>
  {% endif %}
</nav>
